<audio id="dice-audio">
  <source src="assets/dice.mp3" type="audio/mp3" />
</audio>
<div class="container content" role="main">
  <h1 (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">Paren Maren!</h1>
  <!-- <button
    type="button"
    class="btn btn-outline-primary"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample"
  >
    Toggle
  </button> -->
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-12" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="width: 380px">
      <h4 style="text-align: center">Reglas:</h4>
      <p>El primer jugador tira el dado con el botón Roll!</p>
      <p>Si el resultado del dado es 1, 2 o 3, termina el turno.</p>
      <p>
        Si el resultado es 4, 5 o 6, el jugador continúa su turno. Puede seguir tirando dados o hacer Paren Maren y
        tirar el dado multiplicador.
      </p>
      <p>El primer jugador en llegar a 365 puntos, gana.</p>
    </div>
  </div>
  <div class="row text-center" class="roll-height">
    <!-- <div class="col-2"></div> -->
    <div class="col text-center">
      <div class="row pb-3 pt-3 mt-5" style="height: 160px">
        <div class="col-12">
          <div id="roll" class="roll-button" *ngIf="gameBoard.players.length !== 0 && startGamePressed === false">
            <button type="button" class="btn btn-light button-71" (click)="startGame()" [disabled]="canRoll === false">
              Start Game
            </button>
          </div>
        </div>
        <div class="col text-center" *ngFor="let dice of turnDices">
          <span>
            <div class="dice">
              <img *ngIf="dice.rollResult === 1" src="assets/dice1.png" />
              <img *ngIf="dice.rollResult === 2" src="assets/dice2.png" />
              <img *ngIf="dice.rollResult === 3" src="assets/dice3.png" />
              <img *ngIf="dice.rollResult === 4" src="assets/dice4.png" />
              <img *ngIf="dice.rollResult === 5" src="assets/dice5.png" />
              <img *ngIf="dice.rollResult === 6" src="assets/dice6.png" /></div
          ></span>
        </div>
      </div>

      <div class="row pb-3 pt-3 text-center">
        <div class="col-12 text-center" style="height: 160px">
          <span>
            <div class="dice" *ngIf="blackDiceRolled === true">
              <img *ngIf="blackDice === 1" src="assets/black-dice-1.png" />
              <img *ngIf="blackDice === 2" src="assets/black-dice-2.png" />
              <img *ngIf="blackDice === 3" src="assets/black-dice-3.png" />
              <img *ngIf="blackDice === 4" src="assets/black-dice-4.png" />
              <img *ngIf="blackDice === 5" src="assets/black-dice-5.png" />
              <img *ngIf="blackDice === 6" src="assets/black-dice-6.png" /></div
          ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="row" *ngIf="startGamePressed === true">
        <div class="col text-right" style="padding-left: 6.5rem">
          <div id="roll" class="roll-button">
            <button type="button" class="btn btn-light button-70" (click)="rollDice()" [disabled]="canRoll === false">
              Roll!
            </button>
          </div>
        </div>
        <div class="col">
          <div id="roll" class="roll-button">
            <button
              type="button"
              class="btn btn-light btn-circle btn-xl button-62"
              (click)="rollBlackDice()"
              *ngIf="canParenMaren === true"
            >
              Paren Maren!
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding-bottom: 4rem">
          <div class="row">
            <div id="roll" class="col roll-button" *ngIf="startGamePressed === false">
              <button type="button" class="btn btn-light button-70" (click)="newPlayer()">Add Player</button>
            </div>
          </div>
        </div>

        <div class="row text-center ml-1" *ngFor="let player of gameBoard.players">
          <div class="col" style="margin-bottom: 10px">
            <div class="row">
              <div class="col-2" [ngClass]="{ 'highlight-yellow': currentPlayer === player.name }">
                <p>{{ player.name }}</p>
              </div>
              <div class="col-10">
                <!-- <h4>{{ player.score ? player.score : ' ' }}</h4> -->
                <p>
                  <ngb-progressbar
                    type="{{ player.score <= 300 ? 'info' : 'warning' }}"
                    [value]="player.score"
                    [max]="365"
                    >{{ player.score }}</ngb-progressbar
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <!-- 
  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg> -->
</div>
